@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #353535; 
}
 
::-webkit-scrollbar-thumb {
  background: #4f4f4f; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #767676; 
}

.preventcopy {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}