@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #353535; 
}
 
::-webkit-scrollbar-thumb {
  background: #4f4f4f; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #767676; 
}

.unfollow_button:hover span {
  display: none;
}

.unfollow_button:hover::before {
  content: "Unfollow";
}

.preventcopy {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[contenteditable][placeholder]:empty:before {
  content: attr(placeholder);
  color: #9CA3AF;
}

.notification_container {
  padding: 5px;
  position: relative;
}

.notification_text {
  position: relative;
  z-index: 3;
}

.notification_link:first-child::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.notification_link:last-child::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
}